DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

LEAGUE_CHANNEL_ID=
QUEUE_1S_CHANNEL_ID=
QUEUE_2S_CHANNEL_ID=
MATCH_CATEGORY_ID=
LEADERBOARD_CHANNEL_ID=

LEAGUE_ADMIN_ROLE_ID=
WAGER_ADMIN_ROLE_ID=

BRONZE_ROLE_ID=
SILVER_ROLE_ID=
GOLD_ROLE_ID=
PLATINUM_ROLE_ID=
EMERALD_ROLE_ID=
DIAMOND_ROLE_ID=
MASTER_ROLE_ID=
GRANDMASTER_ROLE_ID=
ELITE_ROLE_ID=
LEGEND_ROLE_ID=

# Railway volume recommended: /data/league.db
DATABASE_PATH=/data/league.db
